In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load data 

# House election Harvard Dataverse https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2
district_results = pd.read_csv('1976-2018-house.csv', header=0,encoding = 'unicode_escape')
district_results['candidatevotes'] = district_results['candidatevotes'].str.replace(',', '')
district_results['candidatevotes'] = district_results['candidatevotes'].astype(int)

# 2016 Election Results https://transition.fec.gov/general/FederalElections2016.shtml
pres_gen_results_2016 = pd.read_csv('2016 Pres General Results-Table 1.csv', header=0,encoding = 'unicode_escape')
sen_results_2016 = pd.read_csv('2016 US Senate Results by State-Table 1.csv', header=0,encoding = 'unicode_escape')
house_results_2016 = pd.read_csv('2016 US House Results by State-Table 1.csv', header=0,encoding = 'unicode_escape')

Election_2016 = district_results.loc[district_results['year'] == 2016]

sports_results = pd.read_csv('sports_data.csv')

# State
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC','DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [3]:
import glob

# get data file names
path =r'C:\DRO\DCL_rawdata_files'
filenames = glob.glob('District Data' + "/*.csv")


dfs = {}

filenames.sort()
i = 0 
for filename in filenames:
    dfs['state' + str(i)] = pd.read_csv(filename)
    i = i + 1

In [4]:
district_winners_2016 = pd.DataFrame()
for state in states : 
    temp = Election_2016.loc[Election_2016['state_po'] == state]
    #number of districts
    districts_number = temp['district'].max()
    while districts_number > 0 : 
        district = temp.loc[temp['district'] == districts_number]
        winner = pd.DataFrame(district.loc[district['candidatevotes'] == district['candidatevotes'].max()])
        district_winners_2016 = district_winners_2016.append(winner)
        districts_number = districts_number - 1

In [32]:
#will now correctly classify the winning party but doesn't put it into the original dataframe
    
for district in district_winners_2016.iterrows():
    # May be able to use the vote count to assign the correct value back to the original dataframe, 
    # only two winners shared an exact vote count so only 1 collision must be handled
    if district[1]['party'] == 'republican' : 
        district_winners_2016.loc[district[0],'class'] = 0
    elif district[1]['party'] == 'democrat' :
        district_winners_2016.loc[district[0],'class'] = 1
    else:
        district_winners_2016.loc[district[0],'class'] = 2

In [5]:

percentage_below_poverty_line = []
percent_bachelor = []
percent_hs = []
for state in dfs:
    num_cols = len(dfs[state].columns)
    stats_pl = dfs[state][dfs[state]['Subject'] == 'Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level'].iloc[0:1,]
    stats_ba = dfs[state][dfs[state]['Title'] == "Percent bachelor's degree or higher"]
    stats_hs = dfs[state][dfs[state]['Title'] == "Percent high school graduate or higher"]
    pl_mean_sum = 0
    hs_mean_sum = 0
    ba_mean_sum = 0
    for col in range(num_cols):
        if col < 3:
            continue
        elif (col % 2) != 0:
            pl_mean_sum += float(stats_pl.iloc[:,col].values[0])
            hs_mean_sum += float(stats_hs.iloc[:,col].values[0])
            ba_mean_sum += float(stats_ba.iloc[:,col].values[0])
        else:
            continue
            
    pl_mean = pl_mean_sum / ((num_cols - 3)/2)
    percentage_below_poverty_line.append(pl_mean)
    
    hs_mean = hs_mean_sum / ((num_cols - 3)/2)
    
    ba_mean = ba_mean_sum / ((num_cols - 3)/2)
    
    percent_hs.append(hs_mean)
    percent_bachelor.append(ba_mean)

In [6]:
sports_results['poverty'] = pd.Series(percentage_below_poverty_line)
sports_results['bachelors'] = pd.Series(percent_bachelor)
sports_results['hs'] = pd.Series(percent_hs)

In [64]:
#### LUKE
#Real GDP per capita by state by year
rGDP_pc_2015 = pd.read_csv('Real_GDP_pc/2015_rGDP_edit.csv')
rGDP_pc_2016 = pd.read_csv('Real_GDP_pc/2016_rGDP_edit.csv')
rGDP_pc_2017 = pd.read_csv('Real_GDP_pc/2017_rGDP_edit.csv')
#Unemployment delta by state, 2016--2018
## US national delta = -1%
unemp_delta = pd.read_csv('unemp_delta.csv')
rGDP_pc_2015.columns = ['state','2015_GDP']
economic_indicators = rGDP_pc_2015.copy()
economic_indicators['2016_GDP'] = rGDP_pc_2016['value']
economic_indicators['2017_GDP'] = rGDP_pc_2017['value']
economic_indicators = economic_indicators.merge(unemp_delta, on = 'state')

economic_indicators

                   state  2015_GDP  2016_GDP  2017_GDP  difference
0                Alabama     39014     39201     39594        -1.9
1                 Alaska     72943     71086     71274        -0.3
2                Arizona     41008     41643     42476        -0.6
3               Arkansas     38229     38303     38411        -0.3
4             California     62347     63785     66262        -1.3
5               Colorado     56708     57166     58686         0.1
6            Connecticut     67710     67845     68184        -1.0
7               Delaware     69976     66485     65554        -0.7
8   District of Columbia    173621    174150    173944        -0.5
9                Florida     41491     42013     42719        -1.2
10               Georgia     47301     48353     49610        -1.5
11                Hawaii     54261     55252     56674        -0.6
12                 Idaho     38206     38941     39454        -1.0
13              Illinois     57875     58250     58942        -1.5
14               Indiana     47153     47734     48460        -1.0
15                  Iowa     54261     53923     53580        -1.1
16                Kansas     50240     51499     52038        -0.6
17              Kentucky     40968     41147     41434        -0.8
18             Louisiana     49832     48791     49536        -1.2
19                 Maine     40483     41289     42087        -0.4
20              Maryland     57666     59423     59757        -0.6
21         Massachusetts     69326     70167     71517        -0.6
22              Michigan     44549     45446     46021        -0.9
23             Minnesota     57106     57778     58426        -1.0
24           Mississippi     33541     33684     33956        -1.0
25              Missouri     45572     45259     45541        -1.4
26               Montana     43543     42528     42759        -0.4
27              Nebraska     58327     58141     58986        -0.3
28                Nevada     47210     47708     48356        -1.1
29         New Hampshire     53515     54244     54912        -0.4
30            New Jersey     60343     60842     61150        -0.9
31            New Mexico     43632     43611     43634        -1.7
32              New York     69790     70752     72429        -0.8
33        North Carolina     46793     46801     47270        -1.2
34          North Dakota     72812     67656     67553        -0.5
35                  Ohio     49959     50287     50952        -0.4
36              Oklahoma     50105     48414     48706        -1.4
37                Oregon     47798     49115     50313        -0.6
38          Pennsylvania     53281     53963     54234        -1.1
39          Rhode Island     50273     50225     50156        -1.1
40        South Carolina     38816     39421     40204        -1.6
41          South Dakota     53216     52945     52238         0.0
42             Tennessee     45759     46355     46780        -1.2
43                 Texas     58077     57280     58125        -0.7
44                  Utah     47512     48450     49347        -0.3
45               Vermont     46236     47083     47086        -0.5
46              Virginia     54401     54295     54906        -1.1
47            Washington     62025     63026     65151        -0.8
48         West Virginia     37873     37632     38471        -0.8
49             Wisconsin     49843     50364     50873        -1.0
50               Wyoming     67825     65127     65633        -1.2

In [38]:
sports_results

,State,cfb,nfl,nba,cbb,average,poverty,bachelors,hs
0,AK,0.5650,0.846,0.720,0.5170,0.662000,7.500000,30.200000,93.300000
1,AL,0.9330,0.813,0.293,0.5560,0.648750,12.471429,25.300000,86.485714
2,AR,0.1420,0.625,0.268,0.6570,0.423000,12.775000,23.100000,87.175000
3,AZ,0.6660,0.500,0.256,0.7710,0.548250,10.244444,29.400000,87.111111
4,CA,0.6360,0.813,0.707,0.6360,0.698000,9.303774,33.383019,83.313208
5,CO,0.4100,0.375,0.561,0.5310,0.469250,6.300000,41.471429,91.900000
6,CT,0.0830,0.688,0.671,0.4375,0.469875,7.080000,39.560000,90.940000
7,DC,0.5650,0.438,0.524,0.6010,0.532000,11.300000,60.400000,92.100000
8,DE,0.5830,0.563,0.634,0.4200,0.550000,8.400000,31.300000,89.800000
9,FL,0.7690,0.438,0.537,0.6170,0.590250,9.840741,30.314815,88.437037
10,GA,0.7850,0.438,0.293,0.5450,0.515250,11.178571,31.414286,87.450000
11,HI,0.5700,0.750,0.512,0.5660,0.599500,5.600000,33.450000,91.950000
12,IA,0.6900,0.406,0.573,0.4240,0.523250,7.175000,28.850000,92.250000
13,ID,0.3600,0.375,0.585,0.7090,0.507250,8.300000,27.800000,90.900000
14,IL,0.3330,0.750,0.555,0.4370,0.518750,8.700000,34.672222,89.422222
15,IN,0.4160,0.625,0.585,0.5160,0.535500,9.433333,26.900000,88.944444
16,KS,0.4160,0.750,0.585,0.7900,0.635250,8.050000,33.350000,90.950000
17,KY,0.7690,0.625,0.585,0.7000,0.669750,12.666667,24.633333,86.683333
18,LA,0.7690,0.813,0.585,0.5350,0.675500,13.900000,24.100000,85.816667
19,MA,0.3330,0.688,0.671,0.3930,0.521250,6.633333,44.333333,90.744444
20,MD,0.4160,0.625,0.524,0.5930,0.539500,6.075000,40.725000,90.487500
21,ME,0.7140,0.688,0.671,0.1850,0.564500,7.400000,31.300000,93.000000
22,MI,0.7690,0.375,0.476,0.8000,0.605000,9.807143,29.407143,90.992857
23,MN,0.5380,0.531,0.573,0.4620,0.526000,5.800000,36.362500,93.337500
24,MO,0.6150,0.813,0.268,0.7600,0.614000,9.162500,29.450000,90.425000
25,MS,0.6150,0.438,0.585,0.3750,0.503250,15.125000,23.125000,85.350000
26,MT,0.6150,0.375,0.585,0.6060,0.545250,7.700000,31.700000,93.900000
27,NC,0.1820,0.438,0.439,0.7020,0.440250,10.238462,31.646154,88.200000
28,ND,1.0000,0.531,0.573,0.3750,0.619750,5.700000,29.700000,92.300000
29,NE,0.3300,0.750,0.561,0.6600,0.575250,7.100000,32.200000,91.433333
30,NH,0.3600,0.688,0.671,0.3220,0.510250,4.700000,36.850000,93.150000
31,NJ,0.0830,0.313,0.341,0.4400,0.294250,7.058333,40.783333,90.200000
32,NM,0.2500,0.625,0.561,0.5600,0.499000,15.066667,27.466667,85.300000
33,NV,0.6150,0.250,0.427,0.7800,0.518000,9.575000,24.300000,86.475000
34,NY,0.2700,0.313,0.354,0.6900,0.406750,10.129630,36.985185,87.144444
35,OH,0.9280,0.469,0.610,0.7400,0.686750,9.918750,28.825000,90.656250
36,OK,0.8570,0.625,0.585,0.5830,0.662500,11.460000,25.500000,88.420000
37,OR,0.6920,0.625,0.598,0.6400,0.638750,8.020000,33.820000,90.500000
38,PA,0.6920,0.563,0.634,0.6600,0.637250,8.416667,31.705556,90.950000
39,RI,0.5450,0.688,0.671,0.7600,0.666000,9.150000,34.350000,89.150000
40,SC,1.0000,0.438,0.439,0.7100,0.646750,11.057143,27.957143,88.285714
41,SD,0.3630,0.531,0.573,0.7420,0.552250,8.000000,29.200000,92.300000
42,TN,0.4166,0.563,0.268,0.7420,0.497400,11.600000,27.444444,87.788889
43,TX,0.7140,0.688,0.293,0.7300,0.606250,11.797222,29.475000,83.419444
44,UT,0.6420,0.375,0.585,0.6570,0.564750,6.175000,35.050000,92.500000
45,VA,0.6150,0.438,0.524,0.9110,0.622000,7.281818,38.790909,89.800000
46,VT,0.5650,0.688,0.671,0.7700,0.673500,6.200000,38.700000,93.500000
47,WA,0.8460,0.625,0.598,0.6200,0.672250,6.400000,36.030000,91.410000
48,WI,0.6150,0.406,0.537,0.4500,0.502000,7.162500,29.900000,92.037500
49,WV,0.6600,0.594,0.610,0.7000,0.641000,13.066667,21.266667,87.733333
50,WY,0.5000,0.375,0.561,0.6060,0.510500,7.100000,26.900000,93.300000

In [52]:
district_winners_2016

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version,class
26853,2016,Alabama,AL,1,63,41,US House,7,gen,NaN,False,Terri A. Sewell,democrat,False,total,229330,233028.0,False,20171005,1.0
26851,2016,Alabama,AL,1,63,41,US House,6,gen,NaN,False,Gary J. Palmer,republican,False,total,245313,329306.0,False,20171005,0.0
26847,2016,Alabama,AL,1,63,41,US House,5,gen,NaN,False,Mo Brooks,republican,False,total,205647,308326.0,False,20171005,0.0
26846,2016,Alabama,AL,1,63,41,US House,4,gen,NaN,False,Robert B. Aderholt,republican,False,total,235925,239444.0,False,20171005,0.0
26843,2016,Alabama,AL,1,63,41,US House,3,gen,NaN,False,Mike Rogers,republican,False,total,192164,287104.0,False,20171005,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28256,2016,Wisconsin,WI,55,35,25,US House,5,gen,NaN,False,F. James Sensenbrenner Jr.,republican,False,total,260706,390844.0,False,20171005,0.0
28253,2016,Wisconsin,WI,55,35,25,US House,4,gen,NaN,False,Gwen Moore,democrat,False,total,220181,286909.0,False,20171005,1.0
28247,2016,Wisconsin,WI,55,35,25,US House,3,gen,NaN,False,Ron Kind,democrat,False,total,257401,260370.0,False,20171005,1.0
28244,2016,Wisconsin,WI,55,35,25,US House,2,gen,NaN,False,Mark Pocan,democrat,False,total,273537,398060.0,False,20171005,1.0
28242,2016,Wisconsin,WI,55,35,25,US House,1,gen,NaN,False,Paul D. Ryan,republican,False,total,230072,354245.0,False,20171005,0.0

In [70]:
model_frame = district_winners_2016[['state_po','state_fips','district', 'class']]

In [73]:
model_frame = model_frame.join(sports_results.set_index('State'), on='state_po', how='inner')

In [76]:
model_frame = model_frame.drop('state_fips', axis=1)

In [78]:
model_frame['state_district'] = model_frame.apply(lambda row: row.state_po + str(row.district), axis=1)

In [83]:
model_frame = model_frame.drop(['average','district'], axis=1)

In [86]:
model_frame.set_index('state_district')

,state_po,class,cfb,nfl,nba,cbb,poverty,bachelors,hs
state_district,,,,,,,,,
AL7,AL,1.0,0.933,0.813,0.293,0.556,12.471429,25.3,86.485714
AL6,AL,0.0,0.933,0.813,0.293,0.556,12.471429,25.3,86.485714
AL5,AL,0.0,0.933,0.813,0.293,0.556,12.471429,25.3,86.485714
AL4,AL,0.0,0.933,0.813,0.293,0.556,12.471429,25.3,86.485714
AL3,AL,0.0,0.933,0.813,0.293,0.556,12.471429,25.3,86.485714
...,...,...,...,...,...,...,...,...,...
WI5,WI,0.0,0.615,0.406,0.537,0.450,7.162500,29.9,92.037500
WI4,WI,1.0,0.615,0.406,0.537,0.450,7.162500,29.9,92.037500
WI3,WI,1.0,0.615,0.406,0.537,0.450,7.162500,29.9,92.037500
WI2,WI,1.0,0.615,0.406,0.537,0.450,7.162500,29.9,92.037500
WI1,WI,0.0,0.615,0.406,0.537,0.450,7.162500,29.9,92.037500