In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load data 

# House election Harvard Dataverse https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2
district_results = pd.read_csv('1976-2018-house.csv', header=0,encoding = 'unicode_escape')
district_results['candidatevotes'] = district_results['candidatevotes'].str.replace(',', '')
district_results['candidatevotes'] = district_results['candidatevotes'].astype(int)

# 2016 Election Results https://transition.fec.gov/general/FederalElections2016.shtml
pres_gen_results_2016 = pd.read_csv('2016 Pres General Results-Table 1.csv', header=0,encoding = 'unicode_escape')
sen_results_2016 = pd.read_csv('2016 US Senate Results by State-Table 1.csv', header=0,encoding = 'unicode_escape')
house_results_2016 = pd.read_csv('2016 US House Results by State-Table 1.csv', header=0,encoding = 'unicode_escape')

Election_2016 = district_results.loc[district_results['year'] == 2016]

sports_results = pd.read_csv('sports_data.csv')

# State
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC','DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [3]:
import glob

# get data file names
path =r'C:\DRO\DCL_rawdata_files'
filenames = glob.glob('District Data' + "/*.csv")


dfs = {}

filenames.sort()
i = 0 
for filename in filenames:
    dfs['state' + str(i)] = pd.read_csv(filename)
    i = i + 1

In [4]:
district_winners_2016 = pd.DataFrame()
for state in states : 
    temp = Election_2016.loc[Election_2016['state_po'] == state]
    #number of districts
    districts_number = temp['district'].max()
    while districts_number > 0 : 
        district = temp.loc[temp['district'] == districts_number]
        winner = pd.DataFrame(district.loc[district['candidatevotes'] == district['candidatevotes'].max()])
        district_winners_2016 = district_winners_2016.append(winner)
        districts_number = districts_number - 1

In [5]:

percentage_below_poverty_line = []
percent_bachelor = []
percent_hs = []
for state in dfs:
    num_cols = len(dfs[state].columns)
    stats_pl = dfs[state][dfs[state]['Subject'] == 'Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level'].iloc[0:1,]
    stats_ba = dfs[state][dfs[state]['Title'] == "Percent bachelor's degree or higher"]
    stats_hs = dfs[state][dfs[state]['Title'] == "Percent high school graduate or higher"]
    pl_mean_sum = 0
    hs_mean_sum = 0
    ba_mean_sum = 0
    for col in range(num_cols):
        if col < 3:
            continue
        elif (col % 2) != 0:
            pl_mean_sum += float(stats_pl.iloc[:,col].values[0])
            hs_mean_sum += float(stats_hs.iloc[:,col].values[0])
            ba_mean_sum += float(stats_ba.iloc[:,col].values[0])
        else:
            continue
            
    pl_mean = pl_mean_sum / ((num_cols - 3)/2)
    percentage_below_poverty_line.append(pl_mean)
    
    hs_mean = hs_mean_sum / ((num_cols - 3)/2)
    
    ba_mean = ba_mean_sum / ((num_cols - 3)/2)
    
    percent_hs.append(hs_mean)
    percent_bachelor.append(ba_mean)

In [6]:
sports_results['poverty'] = pd.Series(percentage_below_poverty_line)
sports_results['bachelors'] = pd.Series(percent_bachelor)
sports_results['hs'] = pd.Series(percent_hs)

In [7]:
sports_results

,State,cfb,nfl,nba,cbb,average,poverty,bachelors,hs
0,AK,0.5650,0.846,0.720,0.5170,0.662000,7.500000,30.200000,93.300000
1,AL,0.9330,0.813,0.293,0.5560,0.648750,12.471429,25.300000,86.485714
2,AR,0.1420,0.625,0.268,0.6570,0.423000,12.775000,23.100000,87.175000
3,AZ,0.6660,0.500,0.256,0.7710,0.548250,10.244444,29.400000,87.111111
4,CA,0.6360,0.813,0.707,0.6360,0.698000,9.303774,33.383019,83.313208
5,CO,0.4100,0.375,0.561,0.5310,0.469250,6.300000,41.471429,91.900000
6,CT,0.0830,0.688,0.671,0.4375,0.469875,7.080000,39.560000,90.940000
7,DC,0.5650,0.438,0.524,0.6010,0.532000,11.300000,60.400000,92.100000
8,DE,0.5830,0.563,0.634,0.4200,0.550000,8.400000,31.300000,89.800000
9,FL,0.7690,0.438,0.537,0.6170,0.590250,9.840741,30.314815,88.437037
10,GA,0.7850,0.438,0.293,0.5450,0.515250,11.178571,31.414286,87.450000
11,HI,0.5700,0.750,0.512,0.5660,0.599500,5.600000,33.450000,91.950000
12,IA,0.6900,0.406,0.573,0.4240,0.523250,7.175000,28.850000,92.250000
13,ID,0.3600,0.375,0.585,0.7090,0.507250,8.300000,27.800000,90.900000
14,IL,0.3330,0.750,0.555,0.4370,0.518750,8.700000,34.672222,89.422222
15,IN,0.4160,0.625,0.585,0.5160,0.535500,9.433333,26.900000,88.944444
16,KS,0.4160,0.750,0.585,0.7900,0.635250,8.050000,33.350000,90.950000
17,KY,0.7690,0.625,0.585,0.7000,0.669750,12.666667,24.633333,86.683333
18,LA,0.7690,0.813,0.585,0.5350,0.675500,13.900000,24.100000,85.816667
19,MA,0.3330,0.688,0.671,0.3930,0.521250,6.633333,44.333333,90.744444
20,MD,0.4160,0.625,0.524,0.5930,0.539500,6.075000,40.725000,90.487500
21,ME,0.7140,0.688,0.671,0.1850,0.564500,7.400000,31.300000,93.000000
22,MI,0.7690,0.375,0.476,0.8000,0.605000,9.807143,29.407143,90.992857
23,MN,0.5380,0.531,0.573,0.4620,0.526000,5.800000,36.362500,93.337500
24,MO,0.6150,0.813,0.268,0.7600,0.614000,9.162500,29.450000,90.425000
25,MS,0.6150,0.438,0.585,0.3750,0.503250,15.125000,23.125000,85.350000
26,MT,0.6150,0.375,0.585,0.6060,0.545250,7.700000,31.700000,93.900000
27,NC,0.1820,0.438,0.439,0.7020,0.440250,10.238462,31.646154,88.200000
28,ND,1.0000,0.531,0.573,0.3750,0.619750,5.700000,29.700000,92.300000
29,NE,0.3300,0.750,0.561,0.6600,0.575250,7.100000,32.200000,91.433333
30,NH,0.3600,0.688,0.671,0.3220,0.510250,4.700000,36.850000,93.150000
31,NJ,0.0830,0.313,0.341,0.4400,0.294250,7.058333,40.783333,90.200000
32,NM,0.2500,0.625,0.561,0.5600,0.499000,15.066667,27.466667,85.300000
33,NV,0.6150,0.250,0.427,0.7800,0.518000,9.575000,24.300000,86.475000
34,NY,0.2700,0.313,0.354,0.6900,0.406750,10.129630,36.985185,87.144444
35,OH,0.9280,0.469,0.610,0.7400,0.686750,9.918750,28.825000,90.656250
36,OK,0.8570,0.625,0.585,0.5830,0.662500,11.460000,25.500000,88.420000
37,OR,0.6920,0.625,0.598,0.6400,0.638750,8.020000,33.820000,90.500000
38,PA,0.6920,0.563,0.634,0.6600,0.637250,8.416667,31.705556,90.950000
39,RI,0.5450,0.688,0.671,0.7600,0.666000,9.150000,34.350000,89.150000
40,SC,1.0000,0.438,0.439,0.7100,0.646750,11.057143,27.957143,88.285714
41,SD,0.3630,0.531,0.573,0.7420,0.552250,8.000000,29.200000,92.300000
42,TN,0.4166,0.563,0.268,0.7420,0.497400,11.600000,27.444444,87.788889
43,TX,0.7140,0.688,0.293,0.7300,0.606250,11.797222,29.475000,83.419444
44,UT,0.6420,0.375,0.585,0.6570,0.564750,6.175000,35.050000,92.500000
45,VA,0.6150,0.438,0.524,0.9110,0.622000,7.281818,38.790909,89.800000
46,VT,0.5650,0.688,0.671,0.7700,0.673500,6.200000,38.700000,93.500000
47,WA,0.8460,0.625,0.598,0.6200,0.672250,6.400000,36.030000,91.410000
48,WI,0.6150,0.406,0.537,0.4500,0.502000,7.162500,29.900000,92.037500
49,WV,0.6600,0.594,0.610,0.7000,0.641000,13.066667,21.266667,87.733333
50,WY,0.5000,0.375,0.561,0.6060,0.510500,7.100000,26.900000,93.300000