In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# load data 

# House election Harvard Dataverse https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/IG0UN2
district_results = pd.read_csv('1976-2018-house.csv', header=0,encoding = 'unicode_escape')
district_results['candidatevotes'] = district_results['candidatevotes'].str.replace(',', '')
district_results['candidatevotes'] = district_results['candidatevotes'].astype(int)

# 2016 Election Results https://transition.fec.gov/general/FederalElections2016.shtml
pres_gen_results_2016 = pd.read_csv('2016 Pres General Results-Table 1.csv', header=0,encoding = 'unicode_escape')
sen_results_2016 = pd.read_csv('2016 US Senate Results by State-Table 1.csv', header=0,encoding = 'unicode_escape')
house_results_2016 = pd.read_csv('2016 US House Results by State-Table 1.csv', header=0,encoding = 'unicode_escape')

Election_2016 = district_results.loc[district_results['year'] == 2016]

sports_results = pd.read_csv('sports_data.csv')




# State
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC','DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [4]:
#### LUKE
#Real GDP per capita by state by year
rGDP_pc_2015 = pd.read_csv('Real_GDP_pc/2015_rGDP_edit.csv')
rGDP_pc_2016 = pd.read_csv('Real_GDP_pc/2016_rGDP_edit.csv')
rGDP_pc_2017 = pd.read_csv('Real_GDP_pc/2017_rGDP_edit.csv')
#Unemployment delta by state, 2016--2018
## US national delta = -1%
unemp_delta = pd.read_csv('unemp_delta.csv')


rGDP_pc_2015.columns = ['state','2015_GDP']
economic_indicators = rGDP_pc_2015.copy()
economic_indicators['2016_GDP'] = rGDP_pc_2016['value']
economic_indicators['2017_GDP'] = rGDP_pc_2017['value']
economic_indicators = economic_indicators.merge(unemp_delta, on = 'state')

In [15]:
economic_indicators

                   state  2015_GDP  2016_GDP  2017_GDP  difference
0                Alabama     39014     39201     39594        -1.9
1                 Alaska     72943     71086     71274        -0.3
2                Arizona     41008     41643     42476        -0.6
3               Arkansas     38229     38303     38411        -0.3
4             California     62347     63785     66262        -1.3
5               Colorado     56708     57166     58686         0.1
6            Connecticut     67710     67845     68184        -1.0
7               Delaware     69976     66485     65554        -0.7
8   District of Columbia    173621    174150    173944        -0.5
9                Florida     41491     42013     42719        -1.2
10               Georgia     47301     48353     49610        -1.5
11                Hawaii     54261     55252     56674        -0.6
12                 Idaho     38206     38941     39454        -1.0
13              Illinois     57875     58250     58942        -1.5
14               Indiana     47153     47734     48460        -1.0
15                  Iowa     54261     53923     53580        -1.1
16                Kansas     50240     51499     52038        -0.6
17              Kentucky     40968     41147     41434        -0.8
18             Louisiana     49832     48791     49536        -1.2
19                 Maine     40483     41289     42087        -0.4
20              Maryland     57666     59423     59757        -0.6
21         Massachusetts     69326     70167     71517        -0.6
22              Michigan     44549     45446     46021        -0.9
23             Minnesota     57106     57778     58426        -1.0
24           Mississippi     33541     33684     33956        -1.0
25              Missouri     45572     45259     45541        -1.4
26               Montana     43543     42528     42759        -0.4
27              Nebraska     58327     58141     58986        -0.3
28                Nevada     47210     47708     48356        -1.1
29         New Hampshire     53515     54244     54912        -0.4
30            New Jersey     60343     60842     61150        -0.9
31            New Mexico     43632     43611     43634        -1.7
32              New York     69790     70752     72429        -0.8
33        North Carolina     46793     46801     47270        -1.2
34          North Dakota     72812     67656     67553        -0.5
35                  Ohio     49959     50287     50952        -0.4
36              Oklahoma     50105     48414     48706        -1.4
37                Oregon     47798     49115     50313        -0.6
38          Pennsylvania     53281     53963     54234        -1.1
39          Rhode Island     50273     50225     50156        -1.1
40        South Carolina     38816     39421     40204        -1.6
41          South Dakota     53216     52945     52238         0.0
42             Tennessee     45759     46355     46780        -1.2
43                 Texas     58077     57280     58125        -0.7
44                  Utah     47512     48450     49347        -0.3
45               Vermont     46236     47083     47086        -0.5
46              Virginia     54401     54295     54906        -1.1
47            Washington     62025     63026     65151        -0.8
48         West Virginia     37873     37632     38471        -0.8
49             Wisconsin     49843     50364     50873        -1.0
50               Wyoming     67825     65127     65633        -1.2

In [14]:
import glob

# get data file names
path =r'C:\DRO\DCL_rawdata_files'
filenames = glob.glob('District Data' + "/*.csv")


dfs = {}

filenames.sort()
i = 0 
for filename in filenames:
    dfs['state' + str(i)] = pd.read_csv(filename)
    i = i + 1

In [ ]:
district_winners_2016 = pd.DataFrame()
for state in states : 
    temp = Election_2016.loc[Election_2016['state_po'] == state]
    #number of districts
    districts_number = temp['district'].max()
    while districts_number > 0 : 
        district = temp.loc[temp['district'] == districts_number]
        winner = pd.DataFrame(district.loc[district['candidatevotes'] == district['candidatevotes'].max()])
        district_winners_2016 = district_winners_2016.append(winner)
        districts_number = districts_number - 1

In [ ]:
# for district in district_winners_2016.iterrows() : 
#     print(district['party'])
    
#for district in district_winners_2016.iterrows() : 
#     print(district['party'])
#     if district.iloc[:,12] == 'republican' : 
#         district['class'] = 0
#     elif district[12] == 'democrat' : 
#         district['class'] = 1
#     else :
#         district['class'] = 2

In [ ]:

percentage_below_poverty_line = []
percent_bachelor = []
percent_hs = []
for state in dfs:
    num_cols = len(dfs[state].columns)
    stats_pl = dfs[state][dfs[state]['Subject'] == 'Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level'].iloc[0:1,]
    stats_ba = dfs[state][dfs[state]['Title'] == "Percent bachelor's degree or higher"]
    stats_hs = dfs[state][dfs[state]['Title'] == "Percent high school graduate or higher"]
    pl_mean_sum = 0
    hs_mean_sum = 0
    ba_mean_sum = 0
    for col in range(num_cols):
        if col < 3:
            continue
        elif (col % 2) != 0:
            pl_mean_sum += float(stats_pl.iloc[:,col].values[0])
            hs_mean_sum += float(stats_hs.iloc[:,col].values[0])
            ba_mean_sum += float(stats_ba.iloc[:,col].values[0])
        else:
            continue
            
    pl_mean = pl_mean_sum / ((num_cols - 3)/2)
    percentage_below_poverty_line.append(pl_mean)
    
    hs_mean = hs_mean_sum / ((num_cols - 3)/2)
    
    ba_mean = ba_mean_sum / ((num_cols - 3)/2)
    
    percent_hs.append(hs_mean)
    percent_bachelor.append(ba_mean)

In [ ]:
sports_results['poverty'] = pd.Series(percentage_below_poverty_line)
sports_results['bachelors'] = pd.Series(percent_bachelor)
sports_results['hs'] = pd.Series(percent_hs)

In [ ]:
sports_results